extends main

block Content
  #bg-white
    h1 #{page_title} BLOG LISTING
      ul.list-group
        each blog, i in blogs
          li.list-group-item
            a(href="/blogs/api:"+blog._id)= blog.title
