extends main

include ./includes/doctitle

block Content
  #bg-white
    h1= page_title
    form(method='POST', action='/blogs', enctype='application/json')
      fieldset
        .form-group
          label(for='title')
          | Title:
          input.form-control(name='title', type='text')
        .form-group
          label(for='author')
          | Author:
          input.form-control(name='author', type='text')
        .form-group
          label(for='body')
          | Body:
          textarea.form-control(name='body', cols="30", rows="10", type='text')
        br
        input(type="submit", value="Submit")
