extends main

block Content
  #bg-white
    h1 #{page_title} BLOG LISTING
      form(method='GET', action='/users/logout', enctype='application/json')
        input(type="submit", value="Logout")
      ul.list-group
        each blog, i in blogs
          li.list-group-item #{blog.title} click to 
            a(href="/blogs/1taat_edit_form:"+blog._id) EDIT: 
            | OR here to 
            a(href="/blogs/1taat_delete_form:"+blog._id) VIEW / DELETE:
