extends main

block Content
  #bg-white
    h1 #{page_title}
      ul.list-group
        each blog, i in blogs
          li.list-group-item click to view:
            a(href="/blogs/view:"+blog._id)= blog.title
            | OR here to edit:
            a(href="/blogs/edit:"+blog._id)= blog.title

