extends main

block Content
  #bg-white
    h1 #{page_title}
      ul.list-group
        each blog, i in blogs
          li.list-group-item #{blog.title} click to 
            a(href="/blogs/view:"+blog._id) VIEW: 
            | OR here to 
            a(href="/blogs/edit:"+blog._id) EDIT: 
            | OR here to 
            a(href="/blogs/delete:"+blog._id) DELETE:
