extends main

block Content
  #bg-white
    h1 #{page_title} WELCOME
    .row.mt-5
      .col-md-6.m-auto
        .card.card-body.text-center
          h1
            i.fab.fa-node-js.fa-3x
          p Create an account or login
          a(href="/users/1taat_login_register" class="btn btn-primary btn-block mb-2")
            | Register
          a(href="/users/1taat_login_form" class="btn btn-secondary btn-block")
            | Login
